/bin/
/.gradle/
Thumbs.db
.DS_Store
.gradle/
build/
classes/
.idea/
*.iml
*.ipr
*.iws
.project
.settings
.classpath
bin/
.git/
.springBeans
.factorypath
out/
*.log
*.cache
.settings/
.svn*
.settings/
catalina*
logs/
*.log
.idea/